
<!--<div class="main">
  <div class="nav">
    <h1 class="title-section">{{title}}</h1>
  </div>
  
  <p class="city-section">{{city3}}</p>

  <p>{{name}}</p>
  {{name}} -->

  <!-- <p>{{no1 + no2}}</p>    we can pass aroithmetic expression in string interpolation-->
  <!--<p>{{500+40}}</p>
  <P>{{500+20 + 'Anjali'+ 40 + 20}}</P> -->
  <!-- <p>{{type of(no1)}}</p> in interpolation type of operator will throw error -->

  <!--<p>{{learningInterpolation()}}</p>-->
  <!--yes we can pass function to the interpolation-->
  <!-- <p>{{no2 = 600}}</p> assigning value to the property from interpolation is not possible-->

  <!-- <p>{{}}</p> parser error : blank expressions are not allowed in interpolation <string-->

  <!--<p>{{no2 === 20}}</p>--> <!--it will return true or false  -->
  <!-- <p>{{'Anjali'}}</p> useless-->
  <!--<p>Anjali</p>
  <p>{{name}}</p>
  <p>{{no3}}</p>
  <p>{{cars}}</p>
  <P>{{student.age}}</P>
  <p>{{student.name}}</p>-->


  <!--property binding: []  -->
  <!--name : <input type ="text" [value]= "city2"  placeholder="please enter your name">
   carName : <input type ="text" [value]="car"><br>
   student age : <input type ="text" [value] ="student.age"><br>
   Gender :<br>
   Male :<input type = "radio" [value]="genderM" name="gender" (change)="gen($event)">
   Female : <input type = "radio" [value]="genderF" name="gender" (change)="gen($event)">
  <br><br>
   Hobbies:
   Painting:<input type="checkbox" [value]="PaintingHobby" (Change)="Hobbies($event)">
   Sketching:<input type="checkbox" [value]="SketchingHobby"(Change)="Hobbies($event)">
   Reading:<input type="checkbox" [value]="ReadingHobby"(Change)="Hobbies($event)"> -->
  
<!--event binding: event binding is used to handle the events raised from the DOM like button click,mouse move etc.When the DOM event(eg:change,click,keyup)
it calls the specified method in the component.-->
<!--<br><br>
<button (click)="submit($event)">Submit</button>
<br><br> -->

<!--two way data binding: two way data binding has a feature to update data from component to view and vice-versa.
OR Whenever you make changes in the model it will be reflected in the view and when you make changes in view it 
will be reflected in model
OR in two way data binding :property binding and event binding are combined together.-->

<!--studentName:<input type="text" [(ngModel)] ="studentName">
<p>{{studentName}}</p>
 

<br><br>

  <input type ="text" [(ngModel)]="num1"> num1
  <input type ="text" [(ngModel)]="num2"> num2
  <br>
  <input type ="text" (keyup)="addition1($event)"> num1 <br>
  
  <input type ="text" (keyup)="addition2($event)"> num2 <br>
  <button (click)="addition()">addition</button>

<p>{{result}}</p>

<br><br>




</div> -->

<!-- <div class="main">


<h1> My First Page</h1>
<h1> {{heading}} </h1>

<input type="text" [(ngModel)]="myCityName">

{{myCityName}}

<br>
<input type="number" [(ngModel)]="addNumber1">
<input type="number" [(ngModel)]="addNumber2">
<button (click)="additionOfNumber()"> click me to add</button>
<p>{{addResult}}</p>


</div>  -->


<!-- <button (click)="addCircle()">Add Circle</button>
<div *ngFor="let circle of circles"
     [class.selected]="circle.isSelected"
     [style.background-color]="circle.backgroundColor"
     (click)="toggleSelectCircle(circle)">
  {{ circle.id }}

</div>




{{test}}

<input type="text" [value]="test">
<input type="text" [(ngModel)="test1"]>
{{test1}} -->

<!--<button (click)="landing()">Landing</button> -->


<router-outlet></router-outlet>




