.main{
    background-color: rgba(178, 236, 216, 0.594);
    height: 944px;
    width: 99rem;
}
.title-section{
    margin: auto;
    text-align: center;
}
.city-section{
    color: red;
    font-size: 30px;
    font-family: 'Courier New';
}
.nav{
    background-color: red;
}